@use '../../../assets/styles/variables.module' as variables;

footer {
  padding: 0.5rem; // Réduction du padding pour diminuer la hauteur
  background-color: #f9f9f9;
  font-size: 0.8rem; // Réduction de la taille de police
  color: #5d5c59;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40px; // Hauteur minimum plus réduite

  .container-legals {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem; // Réduction de l’espace entre les éléments
    justify-content: center;
    text-align: center;

    a {
      text-decoration: none;
      color: #5d5c59;

      &:hover {
        color: #687a69;
      }
    }

    .separator {
      color: #5d5c59;
    }
  }

  .container-socials {
    display: flex;
    gap: 0.8rem; // Réduction de l’espace entre les icônes
    margin-top: 0.3rem; // Réduction de la marge supérieure

    i {
      font-size: 10px; // Réduction de la taille des icônes
      color: #5d5c59;
      cursor: pointer;
      transition: transform 0.3s ease, color 0.3s ease;

      &:hover {
        transform: scale(1.1);
        color: #687a69;
      }
    }
  }

  @media (min-width: 1024px) {
    padding: 0.8rem; // Ajustement léger du padding sur desktop
    flex-direction: row;
    justify-content: space-between;

    .container-socials {
      margin-top: 0;
      i {
        font-size: 24px; // Taille normale des icônes sur desktop
      }
    }

    .container-legals {
      font-size: 0.9rem; // Retour à une taille normale pour les légaux
      justify-content: flex-start;
    }
  }
}
