@use '../../../assets/styles/variables.module' as variables;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem; // Augmente le padding vertical pour équilibrer l'espace
  background-color: variables.$main-color;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
  height: 70px;

  .logo {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-start;

    img {
      height: 60px;
      width: auto;
      margin: auto 0; // Centre verticalement le logo
    }
  }

  .restaurant-name {
    font-family: 'Dancing Script', cursive;
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  .navigation {
    flex: 0 0 auto;
    ul {
      display: flex;
      gap: 2rem;
      list-style: none;
      margin: 0;
      padding: 0;

      li a {
        text-decoration: none;
        color: white;
        font-weight: 500;
        transition: color 0.3s ease;

        &:hover {
          color: variables.$secondary-color;
        }
      }
    }

    @media (max-width: 768px) {
      display: none; // Cache le menu par défaut sur mobile
    }

    &.active {
      display: block; // Affiche le menu lorsqu'il est actif
      position: absolute;
      top: 60px;
      right: 0;
      background-color: variables.$main-color;
      border-radius: 0 0 10px 10px;
      padding: 1rem;

      ul {
        flex-direction: column;
        gap: 1rem;
      }
    }
  }

  .menu-toggle {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      cursor: pointer;

      span {
        width: 25px;
        height: 3px;
        background-color: white;
        border-radius: 2px;
        transition: transform 0.3s ease;
      }
    }
  }

  // Ajustements pour les écrans intermédiaires
  @media (max-width: 1024px) and (min-width: 769px) {
    .restaurant-name {
      font-size: 1.5rem;
      left: 45%;
      transform: translateX(-45%);
    }

    .navigation ul {
      gap: 1.5rem;
    }
  }
}
