// Couleurs
$main-color: #687a69;          // Couleur principale (vert du logo)
$secondary-color: #719884;     // Couleur secondaire (vert de l'œil)
$gray: #5d5c59;                // Texte gris
$background-color: #e9e7de;    // Fond des cartes

// Tailles
$padding-mobile: 1rem;
$padding-desktop: 2rem;

// Typographie
$font-main: 'Arial, sans-serif'; // Police principale
